.navbar-toggler {

    background-color: white !important;


}

.cardStyles {
    min-height: 200px;
}

.card-img-top {
    height: 300px;
    width: 400px;
    object-fit: contain;
}

.bgc {
    background-color: #28666E;
    min-height: 10vh;
}

.footercolour {

    background-color: #212529;
    max-height: 5vh;
}

.titlefix {

    min-height: 0.1rem;
}

.btn-primary {

    --bs-btn-bg: #FEDC97;
    --bs-btn-border-color: #B5B682;
    --bs-btn-hover-bg: #7C9885;
    --bs-btn-hover-border-color: #B5B682;

}

.btn {
    color: #4A4A4A;
}

strong {
    color: #F8F9FAA6;
    font-weight: 700;
}

:root,
[data-bs-theme=light] {
    --bs-body-color: #F8F9FAA6;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #4A4A4A;
}

.chins h3 {
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 5%;
    
  }

  .paddings {

    padding: 30px;
  }

  .headerthings
  {

        color: #F8F9FAA6;
        font-size:50px;
  }

  .imgsizes{
    width:  500px;
    height: 500px;
    object-fit: cover;
    padding-bottom: 30px;
    border-radius: 30%;
}

.pt-lg-5 {
    padding-top: 0rem!important;
}